<app-page [title]="title" [loading]="applianceTypesResource.isLoading()">
    <div class="buttons">
        @for (applianceType of applianceTypesResource.value(); track $index) {
        <app-icon-button [icon]="applianceType.icon" [text]="applianceType.text"
            (click)="applianceTypeClicked(applianceType)"></app-icon-button>
        }
    </div>

    <div class="country-check">
        <p>United States Registration only.</p>
        <a>Registering in Canada? Visit here</a>
    </div>
</app-page>