p {
    color: var(--Whirlpool-Dark-Grey, var(--Dark-grey, #222));
    text-align: center;
    font-family: "Helvetica";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 128%; /* 35.84px */
}
