app-page-title {
    p {
        text-align: left !important;
    }
}

app-text-button {
    margin-top: 16px;
}

.info {
    display: flex;
    padding: 12px 16px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--DG-Acc-1-300, #d9c3ff);
    background: var(--DG-Acc-1-200, #f8f3ff);
    color: var(--DG-Greys-800-body-text-col, #4f5061);
    font-family: "Helvetica";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    margin-top: 24px;

    i {
        margin-top: 3px;
    }
}

.text {
    color: var(--Whirlpool-Dark-Grey, var(--Dark-grey, #222));
    font-family: "Helvetica";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.add-text {
    color: var(--Whirlpool-Dark-Grey, var(--Dark-grey, #222));
    text-align: center;
    font-family: "Helvetica";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 25px */
    letter-spacing: 0.1px;
    margin-top: 16px;
}

.provided-by {
    display: flex;
    align-items: center;

    img {
        margin-left: 10px;
    }

    margin-top: 16px;
    color: var(--Whirlpool-Dark-Grey, var(--Dark-grey, #222));
    text-align: center;

    /* DG TYPE/SHARED/Body Styles/Body */
    font-family: "Helvetica";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.benefits-panel {
    display: flex;
    padding: 24px 20px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Whirlpool-Light-Grey, #f2f2f2);
    margin-top: 16px;

    p {
        margin: 0;
    }

    .title {
        color: var(--Whirlpool-Dark-Grey, #222);
        font-family: "Helvetica";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 25px */
        letter-spacing: 0.1px;
    }

    .benefit {
        display: flex;
        margin-top: 16px;
        width: 100%;

        img {
            margin-right: 12px;
        }

        p {
            color: var(--Whirlpool-Dark-Grey, #222);
            font-family: "Helvetica";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 22.4px */
        }

        i {
            color: var(--DG-Primary-700, #0065c4);
            text-align: center;
            font-family: "Font Awesome 6 Pro";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 20px */
            margin-left: auto;
        }
    }
}

.terms-and-conditions {
    display: flex;
    padding: 24px 12px;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--DG-Primary-100, #f4faff);
    margin-top: 16px;

    p {
        margin: 0;
    }
}

.add-and-cancel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    p {
        margin-top: 16px;
        margin-bottom: 0px;
    }

    .bold {
        color: var(--Whirlpool-Dark-Grey, #222);
        font-family: "Helvetica";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 25px */
        letter-spacing: 0.1px;
    }

    #cancel {
        color: var(--Whirlpool-Dark-Grey, #222);
        text-align: center;
        font-family: "Helvetica";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
}
