<app-page [title]="title" [showBanner]="false">
    <div class="info">
        <i [class]="'fa-light fa-circle-info'"></i>If you have a plan with another provider, please cancel it etc.
    </div>
    <div class="text">
        Your manufacturer’s warranty only covers your appliance for mechanical faults and breakdowns. Protect it against
        accidental damage too, and you could save $100s on repair costs.
        <br>
        <br>

        (Without cover, the cost to repair a major part can be up to $400. Service fees alone can reach $150.)
    </div>
    <div class="add-text">
        Add Whirlpool Appliance Care for $XX a month—cancel anytime
    </div>
    <div class="provided-by">
        Provided by Domestic & General
    </div>
    <div class="benefits-panel">

    </div>
    <div class="terms-and-conditions">

    </div>
    <div class="add-and-cancel">

    </div>
</app-page>