<app-page [title]="title" [subheader]="subheader">
    <app-panel>
        <form>
            <label for="registrationCodeInput">Enter your registration code</label>
            <input type="text" id="registrationCodeInput" name="registrationCodeInput" [(ngModel)]="registrationCode"
                required minlength="6" maxlength="6" #registrationCodeInput="ngModel">
        </form>
        <div class="actions">
            <app-text-button [height]="48" [width]="108" [padding]="'0px 20px'" [fontSize]="20"
                [disabled]="registrationCodeInput.invalid" (click)="submit()">
                <p>Submit</p>
            </app-text-button>
        </div>
    </app-panel>
</app-page>