/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Helvetica";
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}

@keyframes slide-in {
    from {
        transform: translateX(1000px);
    }
}

::view-transition-old(router-outlet),
::view-transition-new(router-outlet) {
    animation-duration: 1000ms;
    animation-name: slide-in;
}
