/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Helvetica";
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}

@keyframes slide-in {
    from {
        transform: translateX(1000px);
    }
}

::view-transition-old(router-outlet),
::view-transition-new(router-outlet) {
    animation-duration: 1000ms;
    animation-name: slide-in;
}

label {
    color: #0d0d0d;
    font-family: "Helvetica";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */

    &.bold {
        color: var(--Whirlpool-Dark-Grey, var(--Dark-grey, #222));
        font-family: "Helvetica";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 22.4px */
    }
}

a {
    color: var(--Whirlpool-Dark-Grey, var(--Dark-grey, #222));
    font-family: "Helvetica";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration-line: underline;
    margin: 0;
    cursor: pointer;
}
